/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
        
}

html {
	font-size: 100%;
        background:#F5F5F5;
        background-repeat: repeat-x;

}

body {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
 	color: #000000;
	background-color: #FFFFFF;
	font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
	margin: 0px 15px 0px 15px;
        padding: 0px;
        border-color: #CFCFCF;
	border-width: 0px 2px 0px 2px;
	border-style: solid;
}

#wrapheader {
	min-height: 120px;
	height: auto !important;
	height: 120px;
	padding: 0;
}

#wrapcentre {
	margin: 25px 25px 0 25px;
}

#wrapfooter {
	text-align: center;
	clear: both;
        padding: 10px;

}

#wrapnav {
        font-size: 70.5%;
	width: 100%;
	margin: 0;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#logodesc {
	margin-bottom: 0px;
	padding: 30px 25px;
	background-repeat: repeat-x;
}

#menubar {
        font-size: 1.5em;
        padding: 10px 25px;
        background: #F3F3F3;
        border-color: #CFCFCF;
	border-width: 2px 0px 2px 0px;
        border-style: solid;
}

#datebar {
        font-size: 1.0em;
	margin: 0px 0px 0px 0px;
        background: #FFFFFF;
        padding: 5px 25px;
        border-width: 0px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #FFFFFF;
	border-width: 0px;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.breadcrumbs{
	color: #000000;
	font-size: 0.8em;
	font-weight: bold;
	background-color: #FBFBFB;
	padding: 5px 5px;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }

/*  Text
 --------------------- */
.sub_title {
	color: #000000;
	font-family: Verdana, "Lucida Grande", "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-size: 1.0em;
	text-decoration: none;
        margin: 1px 1px;
}


h1 {
	color: #000000;
	font-family: Verdana, "Lucida Grande", "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-size: 2.6em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: #FCC263;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1.5em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	font-size: 1.2em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: #FEE4BA;
	color: #000000;
}

.nav {
	margin: 0;
	color: #333333;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #000000;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #FFFFFF;
	white-space: nowrap;
	padding: 7px 5px;
        background-image: url('./images/cellpic1.jpg');
	background-repeat: repeat-x;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
        background-color: #F3F3F3;
}

.tablebg {
	background-color: #D0D0D0;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
        background-image: url('./images/cellpic3.jpg');
}
.rtl .catdiv {
	background-color: #FFFFFF;
        background-image: url('./images/cellpic3.jpg');
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	text-indent: 10px;
        background-image: url('./images/cellpic3.jpg');
}

.row1 {
	background-color: #FBFBFB;
	padding: 4px;
}

.row2 {
	background-color: #FBFBFB;
	padding: 4px;
}

.row3 {
	background-color: #F3F3F3;
	padding: 4px;
}

.rowgood {
	background-color: #F8FCE4;
	padding: 4px;
}

.rowneutral {
	background-color: #F3F5ED;
	padding: 4px;
}

.rowbad {
	background-color: #FBE0DB;
	padding: 4px;
}

.spacer {
	background-color: #486996;
        padding: 1px;
}

hr {
	height: 1px;
	border-width: 0;
	color: #54684A;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
a:link {
	color: #000000;
	text-decoration: none;
}

a:active,
a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

a.forumlink {
	color: #000000;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	text-decoration: none;
}

th a,
th a:visited {
	color: #000000 !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

textarea {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #000000;
	padding: 2px;
}

select {
	color: #000000;
	background-color: #F5F5F5;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #000000;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: #FFFFFF;
	border: 1px solid #000000;
        color: #000000;
}

.btnbbcode {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-color: #476895;
	border: 1px solid #000000;
}

.btnmain {
        color: #000000;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #000000;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
        color: #000000;
	font-weight: normal;
	background-color: #F5F5F5;
	border: 1px solid #000000;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
        color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #F5F5F5;
	border-style: none;
        color: #000000;
        padding: 2px;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 0px 1px 0 1px;
	border-style: solid;
	border-color: #486996;
	color: #FFFFFF;
	background-image:url('./images/cellpic1.jpg');
	background-repeat: repeat-x;
        background-color: #000000;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #486996;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #F2F2F2;
	color: #000000;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 0px 1px 0 1px;
	border-style: solid;
	border-color: #486996;
	color: #FFFFFF;
        background-image:url('./images/cellpic1.jpg');
	background-repeat: repeat-x;
	background-color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #486996;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #000000;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #F2F2F2;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #006633;
}

.syntaxstring {
	color: #990000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #5074A6;
}

.pm_replied_colour {
	background-color: #BFB9B3;
}

.pm_friend_colour {
	background-color: #006633;
}

.pm_foe_colour {
	background-color: #990000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}