/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		subsilver2
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		psoTFX and the phpBB team ( http://www.phpbb.com )
	
	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-family: Verdana;
	color: #000000;
	background-color: #F0F0F0;
	font-size: 62.5%; /* as 10px */
	margin: 0;
}

#wrapheader {
	min-height: 120px;
	height: auto !important;
	height: 120px;
/*	background-image: url('./images/background.gif');
	background-repeat: repeat-x;*/
/*	padding: 0 25px 15px 25px;*/
	padding: 0;
}

#wrapcentre {
	margin: 15px 21px 0 21px;
}

#wrapfooter {
	text-align: center;
	clear: both;
	padding-bottom: 0px;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #0066CC;
}

#logodesc {
	padding: 0px 25px;
	background-color: #0F4A84;
	background-image: url("./images/banner.png");
/*	border-bottom: 1px solid #0F4A84; */
	height: 163px;
}

#menubar {
	background-color: #006633;
	margin: 0 21px;
}

#datebar {
	margin: 10px 21px 0 21px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Verdana;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
         color:#0066CC;
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
         color:#000000;
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
	color: #000000 !important;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: Verdana;
	background-color: none;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	color: #000000;
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	color: #000000;
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	color: #000000;
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #000000;
	font-weight: normal;
	font-family: Verdana;
}

.titles {
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFCC00;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #0066CC;
	white-space: nowrap;
	padding: 7px 5px;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #FFFFFF;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
/*	background-image: url('./images/cellpic1.gif');*/
	background: #C0C0C0;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	color: #0066CC;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C0C0C0;

	text-indent: 4px;
}

.row1 {
	background-color: #F4F4F4;
	padding: 4px;
}

.row2 {
	background-color: #FFFFFF;
	padding: 4px;
}

.row3 {
	background-color: #FFFFFF;
	padding: 4px;
}

.spacer {
	background-color: #CCCCCC;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #C0C0C0;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
a:link {
	color: #0066CC;
	text-decoration: none;
}

a:active,
a:visited {
	color: #0066CC;
	text-decoration: none;
}

a:hover {
	color: #33CCFF;
	text-decoration: none;
}

a.forumlink {
	color: #0066CC;
	font-weight: bold;
	font-family: Verdana;
	font-size: 1.2em;
}

a.forumlink:hover {
	color: #33CCFF;
}

a.topictitle {
	margin: 1px 0;
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.2em;
	color: #0066CC;
}

a.topictitle:visited {
	color: #0066CC;
	text-decoration: none;
}

a.topictitle:hover {
	color: #33CCFF;
}

th a,
th a:visited {
	color: #0066CC !important;
	text-decoration: none;
}

th a:hover {
	color: #33CCFF;
	text-decoration: none;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: Verdana;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #8ab4db;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: Verdana;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #8ab4db;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: Verdana;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #8ab4db;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #8ab4db;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #8ab4db;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #8ab4db;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #8ab4db;
	color: #333333;
	background-color: #8ab4db;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #8ab4db;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: Verdana;
	background-color: #FAFAFA;
	color: #4B5C77;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #8ab4db;
	color: #333333;
	background-color: #8ab4db;
	font-family: Verdana;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #8ab4db;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #0066CC;
	font-size: 0.85em;
	font-family: Verdana;
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #8ab4db;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Verdana;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

.inside {
	background-color: #FFFFFF;
	color: #003399;
}

.outside {
	margin: 0 auto;
	width : 960px;
	padding-bottom: 15px;
}

.navigation {
	background-color: #0F4A84;
	height: 13px;
	text-align: center;
	color: #FFFFFF;
	padding: 5px;
	font-size: 11px;
         font-weight: bold;
}

.navigation a, .navigation a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.navigation a:hover { 
	color: #FFCC33; 
	text-decoration: none; 
}

.whitebg {
	background-color: #FFFFFF !important;
}
.vid {
	border: 2px solid #0066CC;
}